<div class="form-v">
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Rock" name="PlayerChosenMove">Rock</button>
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Paper" name="PlayerChosenMove">Paper</button>
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Scissors"
        name="PlayerChosenMove">Scissors</button>
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Lizard"
        name="PlayerChosenMove">Lizard</button>
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Spock" name="PlayerChosenMove">Spock</button>
</div>